html(lang="en")
    head
        title Visit www.pixelrocket.store to learn how to become a frontend web developer
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="template-assets/fonts/fonts.css", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="favicon.png")
        script(src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js", defer="defer")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            div
                p(class="mb-0 py-3 bg-sweetGreen-200 text-sweetGreen-800 text-center")
                    | Want to learn how to build templates like this one? Visit 
                    a(href="https://www.pixelrocket.store") www.pixelrocket.store
            section(x-data="{ mobileNavOpen: false }")
                nav(class="py-5 bg-darkGreen-900")
                    div(class="container mx-auto px-4")
                        div(class="flex items-center justify-between")
                            a(href="index.html")
                                img(src="images/logo-white-3.svg", alt="")
                            div(class="hidden lg:flex gap-2 p-1 rounded-full bg-white bg-opacity-10")
                                a(href="index.html", class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200") Home
                                a(href="about.html", class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200") About
                                a(href="pricing.html", class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200") Pricing
                                a(href="blog.html", class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200") Blog
                                a(href="contact.html", class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200") Contact
                            a(href="login.html", class="hidden lg:flex items-center gap-2 text-white hover:text-green-500 transition duration-200")
                                span(class="text-sm font-medium") Sign in
                                svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", viewbox="0 0 16 16", fill="none")
                                    path(d="M5.5 3L10.5 8L5.5 13", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                            button(class="lg:hidden", x-on:click="mobileNavOpen = !mobileNavOpen")
                                svg(width="51", height="51", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    rect(width="56", height="56", rx="28", fill="white")
                                    path(d="M37 32H19M37 24H19", stroke="black", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                div(:class="{ 'hidden': !mobileNavOpen, 'block': mobileNavOpen }", class="hidden fixed top-0 left-0 bottom-0 w-5/6 max-w-xs z-50")
                    div(x-on:click="mobileNavOpen = !mobileNavOpen", class="fixed inset-0 bg-black opacity-20")
                    nav(class="relative p-8 w-full h-full bg-white overflow-y-auto")
                        div(class="flex items-center justify-between")
                            a(href="#", class="inline-block")
                                img(src="images/logo-black-3.svg", alt="")
                            button(x-on:click="mobileNavOpen = !mobileNavOpen")
                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                        ul(class="flex flex-col gap-12 py-12 my-12")
                            li
                                a(href="index.html", class="text-sm font-medium") Home
                            li
                                a(href="about.html", class="text-sm font-medium") About
                            li
                                a(href="pricing.html", class="text-sm font-medium") Pricing
                            li
                                a(href="blog.html", class="text-sm font-medium") Blog
                            li
                                a(href="contact.html", class="text-sm font-medium") Contact
                        div(class="text-center")
                            a(href="login.html", class="inline-flex items-center gap-2 text-black hover:text-opacity-80 transition duration-200")
                                span(class="text-sm font-medium") Sign in
                                svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", viewbox="0 0 16 16", fill="none")
                                    path(d="M5.5 3L10.5 8L5.5 13", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
            section(class="bg-darkGreen-900 py-60 relative", x-data="{ activeSlide: 1 }")
                div(class="absolute top-6 left-6")
                    a(href="#", class="inline-flex items-center gap-2 text-white hover:text-opacity-70 transition duration-200")
                        svg(xmlns="http://www.w3.org/2000/svg", width="20", height="20", viewbox="0 0 20 20", fill="none")
                            path(d="M13.125 16.25L6.875 10L13.125 3.75", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                        span(class="font-semibold text-sm") Back to Home
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap -m-4")
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="pr-4 lg:pr-16 py-10 lg:border-r border-gray-800")
                                img(class="h-12 mb-10", src="template-assets/images/sign-up/logo-green.png", alt="")
                                div(class="overflow-hidden")
                                    div(:style="'transform: translateX(-' + (activeSlide - 1) * 100.5 + '%)'", class="whitespace-nowrap transition-transform duration-500 ease-in-out")
                                        div(class="inline-block w-full whitespace-normal")
                                            p(class="text-white mb-10 max-w-sm") “Now more than ever, cash is king. Warp Speed meets this need by providing access to a new, non-dilutive financing option with the ability to attract and retain customers through flexible payment options.”
                                            p(class="text-white font-semibold mb-1") James Dean
                                            p(class="text-white text-opacity-50 mb-10") Founder, Lume
                                        div(class="inline-block w-full whitespace-normal")
                                            p(class="text-white mb-10 max-w-sm") “In today's fast-paced market, agility is paramount. Enter SwiftCapital, offering a dynamic solution to financial needs without sacrificing equity. Empower your business with the freedom to innovate and grow, while keeping control firmly in your hands.”
                                            p(class="text-white font-semibold mb-1") Sarah Thompson
                                            p(class="text-white text-opacity-50 mb-10") CEO, LuminateTech
                                        div(class="inline-block w-full whitespace-normal")
                                            p(class="text-white mb-10 max-w-sm") “In an era of uncertainty, stability is priceless. Introducing FundGuard, the answer to your capital concerns. With our innovative approach, you can secure the funds you need without compromising ownership.”
                                            p(class="text-white font-semibold mb-1") Alex Chen
                                            p(class="text-white text-opacity-50 mb-10") Co-Founder, NovaTech Solutions
                                div(class="flex gap-1")
                                    button(x-on:click="activeSlide=1", class="rounded-sm bg-white", :class="activeSlide==1 ? 'w-5' : 'w-2 bg-opacity-30'", style="height:2px")
                                    button(x-on:click="activeSlide=2", class="rounded-sm bg-white", :class="activeSlide==2 ? 'w-5' : 'w-2 bg-opacity-30'", style="height:2px")
                                    button(x-on:click="activeSlide=3", class="rounded-sm bg-white", :class="activeSlide==3 ? 'w-5' : 'w-2 bg-opacity-30'", style="height:2px")
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="flex flex-col justify-center h-full max-w-md py-10 pl-4 lg:pl-16")
                                h1(class="font-heading text-white text-4xl font-bold mb-8") Sign up
                                form(action="")
                                    label(for="email", class="block text-sm mb-2 text-white font-medium") Email
                                    input(type="email", class="px-4 py-3 mb-6 rounded-full border border-white border-opacity-10 bg-white bg-opacity-5 text-sm placeholder-white placeholder-opacity-50 text-white focus:border-white focus:border focus:border-opacity-50 transition duration-200 outline-none w-full", placeholder="john@email.com")
                                    button(type="submit", class="group relative inline-block w-full mb-8 p-0.5 font-semibold overflow-hidden rounded-full shadow-green hover:shadow-none focus:shadow-none")
                                        div(class="absolute inset-0 bg-gradient-to-b from-green-400 to-green-500 rounded-full")
                                        div(class="relative z-50 flex justify-center items-center py-2 px-4 bg-green-500 group-hover:bg-green-600 group-focus:bg-green-600 rounded-full transition duration-200")
                                            p(class="text-white text-center") Sign up
                                    p(class="text-center text-white text-sm")
                                        span(class="text-opacity-70") Already have an account?
                                        |                                   
                                        a(href="login.html", class="text-white font-semibold hover:text-opacity-70 transition duration-200") Login
            section(class="bg-darkGreen-700 py-32 relative overflow-hidden")
                div(class="container mx-auto px-4")
                    h1(class="font-heading text-white text-center text-4xl md:text-5xl max-w-md md:max-w-xl mx-auto font-bold mb-4") Want to learn how to build templates like this one?
                    p(class="text-white text-center mb-10") Visit Pixel Rocket to learn frontend web development
                    div(class="text-center")
                        a(href="#", class="group relative inline-block p-0.5 font-semibold overflow-hidden rounded-full")
                            div(class="absolute inset-0 bg-gradient-to-b from-white to-gray-500 group-focus:to-white opacity-40 group-focus:opacity-20 rounded-full")
                        div(class="relative z-50 flex items-center w-64 mx-auto text-center justify-center py-2 px-5 bg-white group-hover:bg-white group-focus:bg-white group-hover:bg-opacity-80 group-focus:bg-opacity-80 rounded-full transition duration-200")
                            a(href="#", class="group relative inline-block p-0.5 font-semibold overflow-hidden rounded-full")
                            a(href="https://www.pixelrocket.store", class="mr-2 text-darkGreen-900 group-hover:text-pinkSecondary-900 group-focus:text-pinkSecondary-900") Visit Pixel Rocket
                            svg(xmlns="http://www.w3.org/2000/svg", width="21", height="20", viewbox="0 0 21 20", fill="none")
                                path(d="M5.49984 10H15.9165M15.9165 10L10.9165 5M15.9165 10L10.9165 15", stroke="#3D0412", style="stroke:#3D0412;stroke:color(display-p3 0.2392 0.0157 0.0706);stroke-opacity:1;", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
            section(class="bg-darkGreen-900 py-20")
                div(class="container mx-auto px-4")
                    div(class="pb-20 border-b border-white border-opacity-30 mb-10")
                        div(class="flex flex-wrap justify-between -m-4")
                            div(class="w-full lg:w-1/6 p-4")
                                a(href="#", class="inline-block")
                                    img(class="h-16", src="images/logo-white-3.svg", alt="")
                            div(class="w-full sm:w-1/2 lg:w-1/6 p-4")
                                ul(class="flex flex-col gap-6")
                                    li
                                        a(href="#", class="text-white hover:text-opacity-70 text-xl transition duration-200") Features
                                    li
                                        a(href="#", class="text-white hover:text-opacity-70 text-xl transition duration-200") How it works
                            div(class="w-full sm:w-1/2 lg:w-1/6 p-4")
                                ul(class="flex flex-col gap-6")
                                    li
                                        a(href="#", class="text-white hover:text-opacity-70 text-xl transition duration-200") Pricing
                                    li
                                        a(href="#", class="text-white hover:text-opacity-70 text-xl transition duration-200") FAQs
                            div(class="w-full sm:w-1/2 lg:w-1/6 p-4")
                                ul(class="flex flex-col gap-6")
                                    li
                                        a(href="#", class="text-white hover:text-opacity-70 text-xl transition duration-200") About
                                    li
                                        a(href="#", class="text-white hover:text-opacity-70 text-xl transition duration-200") Blog
                            div(class="w-full sm:w-1/2 lg:w-1/6 p-4")
                                ul(class="flex flex-col gap-6")
                                    li
                                        a(href="#", class="text-white hover:text-opacity-70 text-xl transition duration-200") Contact Us
                                    li
                                        a(href="#", class="text-white hover:text-opacity-70 text-xl transition duration-200") Privacy Policy
                    div(class="flex justify-between items-center flex-wrap gap-6")
                        p(class="text-white") © Warp Speed. All rights reserved.
                        div(class="flex flex-wrap gap-6")
                            a(href="#")
                                img(src="template-assets/images/logos/twitter-x-logo.svg", alt="")
                            |         
                            a(href="#")
                                img(src="template-assets/images/logos/linkedin-logo.svg", alt="")
                            |         
                            a(href="#")
                                img(src="template-assets/images/logos/instagram-logo.svg", alt="")
                            |         
                            a(href="#")
                                img(src="template-assets/images/logos/facebook-logo.svg", alt="")
